/**
* ============================================================
* Function
* start with: .f-*
* ============================================================
*/

// Border
#{$function-prefix}border-none        { border: 0 !important; }
#{$function-prefix}border-top-none    { border-top: 0 !important; }
#{$function-prefix}border-right-none  { border-right: 0 !important; }
#{$function-prefix}border-bottom-none { border-bottom: 0 !important; }
#{$function-prefix}border-left-none   { border-left: 0 !important; }

// Border-radius
#{$function-prefix}rounded {
  @include border-radius($border-radius);
}
#{$function-prefix}rounded-top {
  @include border-top-radius($border-radius);
}
#{$function-prefix}rounded-right {
  @include border-right-radius($border-radius);
}
#{$function-prefix}rounded-bottom {
  @include border-bottom-radius($border-radius);
}
#{$function-prefix}rounded-left {
  @include border-left-radius($border-radius);
}

#{$function-prefix}rounded-circle {
  border-radius: 50%;
}

#{$function-prefix}rounded-none {
  border-radius: 0;
}

#{$function-prefix}clearfix {
  @include clearfix();
}

#{$function-prefix}full-width {width: 100% !important;}
#{$function-prefix}full-height {height: 100% !important;}

// Margin and Padding
#{$function-prefix}mx-auto {
  margin-right: auto !important;
  margin-left:  auto !important;
}

@each $breakpoint in map-keys($grid-breakpoints) {
  @each $prop, $abbrev in (margin: m, padding: p) {
    @each $size, $lengths in $spacers {
      $length-x:   map-get($lengths, x);
      $length-y:   map-get($lengths, y);

      @include media-breakpoint-up($breakpoint) {
        $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

        #{$function-prefix}#{$abbrev}#{$infix}-#{$size}  { #{$prop}:        $length-y $length-x !important; }
        #{$function-prefix}#{$abbrev}t#{$infix}-#{$size} { #{$prop}-top:    $length-y !important; }
        #{$function-prefix}#{$abbrev}r#{$infix}-#{$size} { #{$prop}-right:  $length-x !important; }
        #{$function-prefix}#{$abbrev}b#{$infix}-#{$size} { #{$prop}-bottom: $length-y !important; }
        #{$function-prefix}#{$abbrev}l#{$infix}-#{$size} { #{$prop}-left:   $length-x !important; }
        #{$function-prefix}#{$abbrev}x#{$infix}-#{$size} {
          #{$prop}-right:  $length-x !important;
          #{$prop}-left:   $length-x !important;
        }
        #{$function-prefix}#{$abbrev}y#{$infix}-#{$size} {
          #{$prop}-top:    $length-y !important;
          #{$prop}-bottom: $length-y !important;
        }
      }
    }
  }
}

// Alignment
#{$function-prefix}align-baseline    { vertical-align: baseline !important; } // Browser default
#{$function-prefix}align-top         { vertical-align: top !important; }
#{$function-prefix}align-middle      { vertical-align: middle !important; }
#{$function-prefix}align-bottom      { vertical-align: bottom !important; }
#{$function-prefix}align-text-bottom { vertical-align: text-bottom !important; }
#{$function-prefix}align-text-top    { vertical-align: text-top !important; }

#{$function-prefix}text-justify  { text-align: justify !important; }
#{$function-prefix}text-nowrap   { white-space: nowrap !important; }
#{$function-prefix}text-truncate { @include text-truncate; }
#{$function-prefix}text-left   { text-align: left; }
#{$function-prefix}text-right  { text-align: right; }
#{$function-prefix}text-middle { text-align: middle; }

// Contextual colors
#{$function-prefix}text-white {
  color: #fff !important;
}

// Transformation
#{$function-prefix}text-lower  { text-transform: lowercase !important; }
#{$function-prefix}text-upper  { text-transform: uppercase !important; }
#{$function-prefix}text-cap    { text-transform: capitalize !important; }

// Weight and italics
#{$function-prefix}font-normal { font-weight: $font-weight-normal; }
#{$function-prefix}font-bold   { font-weight: $font-weight-bold; }
#{$function-prefix}font-italic { font-style: italic; }

// Misc
#{$function-prefix}text-hide {
  @include text-hide();
}

// Visibility utilities
#{$function-prefix}invisible {
  @include invisible();
}

#{$function-prefix}hidden-print {
  @media print {
    display: none !important;
  }
}

#{$function-prefix}float-left {
  @include float-left();
}

#{$function-prefix}float-right {
  @include float-right();
}

#{$function-prefix}float-none {
  @include float-none();
}

#{$function-prefix}overflow-hidden {
  overflow: hidden !important;
}

#{$function-prefix}overflow-scroll {
  overflow: scroll !important;
}

#{$function-prefix}inline {
  display: inline;
}

#{$function-prefix}inline-block {
  display: inline-block;
}

#{$function-prefix}block {
  display: block;
}

#{$function-prefix}relative {
  position: relative;
}

#{$function-prefix}absolute {
  position: absolute;
}

#{$function-prefix}fixed {
  position: fixed;
}

#{$function-prefix}zoom {
  @include zoom();
}

#{$function-prefix}underline {
  text-decoration: underline;
}

#{$function-prefix}decoration-none {
  text-decoration: none;
}

#{$function-prefix}decoration-overline {
  text-decoration: overline;
}

#{$function-prefix}cursor {
  cursor: default;
}

#{$function-prefix}cursor-pointer {
  cursor: pointer;
}

#{$function-prefix}user-select-none {
  @include user-select(none);
}


/**
* ============================================================
* Status
* start with: .z-*
* ============================================================
*/

#{$status-prefix}selected {}
#{$status-prefix}current {}
#{$status-prefix}active {}
#{$status-prefix}show {
  display: block !important;
}
#{$status-prefix}hidden {
  display: none !important;
}
#{$status-prefix}error {}
#{$status-prefix}disabled {}
#{$status-prefix}open {}
#{$status-prefix}close {}


/**
* ============================================================
* Skin
* start with: .s-*
* ============================================================
*/
#{$skin-prefix}font-red {color: red;}
#{$skin-prefix}bg-red {background: red;}
#{$skin-prefix}border-red {border-color: red;}